@page "/"
@using BlazorApp.Shared
@using BlazorApp.Client.Shared.Components
@inject HttpClient Http
@inject IMemeNewsService memeNewsService

<PageTitle>DudesBeingLads</PageTitle>

<div class="main-container">
    <h1 class="fs-700">DudesBeingLads</h1>
    <span class="font-italic">Special news for special needs</span>

    @foreach (var meme in memeNews)
    {
       <MemeNewsCard MemeNewsData=@meme></MemeNewsCard>
    }
</div>



@code {
    private List<MemeNews> memeNews = new List<MemeNews>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            memeNews = await memeNewsService.GetMemeNews();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}


